{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Focus{% endblock %}</h1>
  {% if g.user %}
    <a class="action" style="font-size:120%; color:red; background-color:powderblue;" href="{{ url_for('blog.new_focus') }}">News Focus</a>
  {% endif %}
{% endblock %}

{% block content %}


  <p>---------------------------</p>
  <p>---------------------------</p>
  <p style="font-size:120%;">Total focus: {%print(total_focus)%}</p>


  {% for clock in clocks %}
    <article class="post">
      <header>
        <div>
          <h1>{{ clock['created'].strftime('%Y-%m-%d') }}</h1>
          <div class="about">by {{ clock['username'] }}</div>
        </div>
        {% if g.user['id'] == clock['author_id'] and clock['ended'] is none%}
          <p class="body" style="font-size:100%;">Start: {{ clock['created'] }} </p>
          <form action="{{ url_for('blog.end_focus', id=clock['id']) }}" method="post">
            <input type="submit" value="Done">
          </form>
        {% endif %}
        
      </header>
      {% if g.user['id'] == clock['author_id'] and clock['ended'] is not none%}
        <p class="body" style="font-size:90%;">Start: {{ clock['created'] }} </p>
        <p class="body" style="font-size:90%;">End: {{clock['ended'] }}</p>
        <p class="body">-------------</p>
        <p class="body" style="font-size:120%;">Focus: {{clock['ended'] - clock['created']}}</p>
      {% endif %}
      
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  {% endblock %}

